.so-widget-sow-slider-base-ae415f52daa5 .sow-slider-base .sow-slider-pagination li a {
  background: #ffffff;
}
.so-widget-sow-slider-base-ae415f52daa5 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-base-ae415f52daa5 .sow-slider-base .sow-slide-nav a {
  color: #ffffff;
}
