.so-widget-sow-slider-base-823008d90e18 .sow-slider-base .sow-slider-pagination li a {
  background: #00a89b;
}
.so-widget-sow-slider-base-823008d90e18 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-base-823008d90e18 .sow-slider-base .sow-slide-nav a {
  color: #00a89b;
}
