.so-widget-sow-headline-sow-headline-db3531e21daf .sow-headline h1 {
  text-align: center;
  color: #000000;
  line-height: 1.3;
}
.so-widget-sow-headline-sow-headline-db3531e21daf .sow-headline h3 {
  text-align: center;
  color: #000000;
  line-height: 1.3;
}
.so-widget-sow-headline-sow-headline-db3531e21daf .sow-headline .decoration {
  border-top: thin solid #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px 20px 60px;
}
